VITE_SUPABASE_URL=your_supabase_project_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key
VITE_SUPABASE_PROFILE_BUCKET=avatars
VITE_SUPABASE_VIDEO_BUCKET=videos
VITE_RAZORPAY_KEY=your_razorpay_key_id
